<!-- 20231020 Bryan - Removed oc-only class from “give-by-select-wrapper” REF:https://www.bugherd.com/projects/352663/tasks/60 -->
<span class=“give-by-select-wrapper”>
    <!--<div class=“apple-pay-button”></div>-->
    <!-- 2023-01-12: Bryan - Merged in from stand along code block -->
    <!-- Apple Pay Start -->
    <script type=“text/javascript”>
        var merchantIdentifier = ‘merchant.com.oceanconservancy.prod’;
        var merchantDomainName =‘donate.oceanconservancy.org’;
        var merchantDisplayName =‘Ocean Conservancy’;
        // Session
        var merchantSessionIdentifier = ‘${page~sessionId}’;
        var merchantNonce = ‘fake-nonce’;
        var merchantEpochTimestamp = ‘1467051059’;
        var merchantSignature = ‘fake-signature’;
        // Validation
        var merchantCountryCode = ‘US’;
        var merchantCurrencyCode = ‘USD’;
        var merchantSupportedNetworks = [ ‘visa’, ‘masterCard’, ‘amex’, ‘discover’ ];
        var merchantCapabilities = [ ‘supports3DS’ ];
        var merchantTotalLabel = ‘’;
    </script>
    <!-- Apple Pay End -->
    <div class=“en__component en__component--formblock”>
        <div class=“en__field en__field--radio en__field--000000 en__field--give-by-select en__mandatory give-by-select
            pseudo-en-field”>
            <div class=“en__field__element en__field__element--radio”>
                <div class=“en__field__item card”>
                    <input checked=“checked” class=“en__field__input en__field__input--radio”
                        id=“en__field_transaction_giveBySelect0” name=“transaction.giveBySelect” type=“radio”
                        value=“Card”><label class=“en__field__label en__field__label--item”
                        for=“en__field_transaction_giveBySelect0"><span></span>Card</label>
                </div>
                <div class=“en__field__item paypal”>
                    <input class=“en__field__input en__field__input--radio” id=“en__field_transaction_giveBySelect1”
                        name=“transaction.giveBySelect” type=“radio” value=“Paypal”><label class=“en__field__label
                        en__field__label--item” for=“en__field_transaction_giveBySelect1"><span></span>PayPal</label>
                </div>
                <div class=“en__field__item check recurring-frequency-n-hide”>
                    <input class=“en__field__input en__field__input--radio” id=“en__field_transaction_giveBySelect2”
                        name=“transaction.giveBySelect” type=“radio” value=“ACH”><label class=“en__field__label
                        en__field__label--item” for=“en__field_transaction_giveBySelect2"><span></span>Check</label>
                </div>
                <div class=“en__field__item applepay”>
                    <input class=“en__field__input en__field__input--radio” id=“en__field_transaction_giveBySelect3”
                        name=“transaction.giveBySelect” type=“radio” value=“applepay”><label class=“en__field__label
                        en__field__label--item” for=“en__field_transaction_giveBySelect3">
                        <div class=“apple-pay-button”></div>
                    </label>
                </div>
            </div>
        </div>
    </div>
</span>